
<aside class="l-sidebar">

  <section class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">Recent Talks</div>
    </div>
    <div class="list-group">
      {{ range first 5 .Site.Pages }}
      <a href="{{ .Permalink }}" class="list-group-item">{{ .Params.author }} · {{ .Date.Format "Jan 2, 2006" }}</a>
      {{ end }}
    </div>
  </section>

  {{ range $key, $value := .Site.Taxonomies }}
  <section class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">{{ $key | singularize | upper }}</div>
    </div>
    <div class="list-group">
      {{ range first 100 $value.Alphabetical.Reverse}}
      <a href="{{ $.Site.BaseURL}}{{ $key }}/{{ .Name | urlize }}" class="list-group-item">{{ .Name }}</a>
      {{ end }}
    </div>
  </section>
  {{ end }}

</aside>

